.render {
    // background-color: #000000;
    border: 1px solid #000000;
    width: 1024px;
    box-shadow: 0 0 15px silver;
    border-radius: 5px;
    transition: all .2s ease-out;

    overflow: auto;
}