.render {
    // background-color: #000000;
    // width: 50vw;
    // height: 59.4cm;
    transition: all .2s ease-out;
    margin: 20px;
    // overflow: auto;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 15px silver;
    // align-items: center;
}

.resume-container {
    width: 31.5cm;
    height: 44cm;
}