.content {
    position: relative;
    // size: 1024px auto;
    width: 100%;
    height: 100%;
    // margin: 55px auto;
    box-shadow: 0 0 15px silver;
    border-radius: 5px;
    transition: all .2s ease-out;

    overflow: auto;

    .header {
        height: 242px;
        width: 100%;
        background: #4682b4;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        display: flex;
        justify-content: flex-start;

        .pic {
            img {
                width: auto;
                height: 100%;
                background-size: cover;
            }
        }

        .tit {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 0px 20px;
        }

        .tit-top {
            overflow: hidden;
            padding-bottom: 6px;
            border-bottom: 2px solid rgba(0, 0, 0, 0.1);
            display: flex;

            .tit-top-name {
                display: inline-block;
                vertical-align: middle;
                font-size: 20px;
                line-height: 20px;
                border-left: 3px solid rgba(0, 0, 0, 0.15);
                font-weight: 400;
                margin: 10px 0;
                margin-left: 15px;
                height: 40px;
                box-sizing: border-box;
                overflow: hidden;
            }
        }
    }

    .tit-button {
        // padding: 15px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .tb-left {
            float: left;

            .tbl-item {
                font-weight: 400;
                font-size: 18px;
                opacity: 0.9;
                line-height: 2.05em;
            }
        }

        .tb-right {
            float: left;

            .tbr-item {
                display: block;
                white-space: nowrap;
                font-weight: 400;
                font-size: 17.5px;
                line-height: 2.1em;
                text-align: right;
                transition: opacity 0.2s ease;
            }

        }
    }
}

.section {
    display: block;
    overflow: hidden;
    background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 1135px;
    box-sizing: border-box;
    border-right: 1px solid rgba(#4682b4, .15);
    column-count: 2;
    column-gap: 30px;
    width: 100%;
    padding: 30px 32px 0;
    color: #444;

    .item {
        width: 100%;
        height: auto;
        overflow: hidden;
        color: #444;
        padding-bottom: 18px;
        break-inside: avoid;
    }

    h3 {
        font-size: 24px;
        width: 100%;
        height: auto;
        background: rgba(#4682b4, .08);
        color: #222;
        line-height: 1.6em;
        padding-left: 10px;
        box-sizing: border-box;
        border-left: 5px solid #4682b4;
        margin-bottom: 5px;
    }

    .si-p {
        font-size: 15.6px;
        color: #4A4A4A;
        line-height: 1.56em;
        position: relative;
        padding-top: .4em;
    }
}