.header {
    height: 242px;
    width: 100%;
    background: #4682b4;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;

    .pic {
        img {
            width: auto;
            height: 100%;
            background-size: cover;
        }
    }

    .tit {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
    }

    .tit-top {
        overflow: hidden;
        padding-bottom: 6px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        display: flex;

        .tit-top-name {
            display: inline-block;
            vertical-align: middle;
            font-size: 20px;
            line-height: 20px;
            border-left: 3px solid rgba(0, 0, 0, 0.15);
            font-weight: 400;
            margin: 10px 0;
            margin-left: 15px;
            height: 40px;
            box-sizing: border-box;
            overflow: hidden;
        }
    }

    .tit-button {
        // padding: 15px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .tb-left {
            float: left;

            .tbl-item {
                font-weight: 400;
                font-size: 18px;
                opacity: 0.9;
                line-height: 2.05em;
            }
        }

        .tb-right {
            float: left;

            .tbr-item {
                display: block;
                white-space: nowrap;
                font-weight: 400;
                font-size: 17.5px;
                line-height: 2.1em;
                text-align: right;
                transition: opacity 0.2s ease;
            }

        }
    }
}